<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
  <!-- for .NET 40 <appender name="ElasticSearchAppender"
            type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch.Net40">-->
  <appender name="ElasticSearchAppender"
            type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <connectionString value="Server=127.0.0.1;Index=log4net;Port=9200;rolling=true" />
    <bufferSize value="0" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="ElasticSearchAppender" />
  </root>
</log4net>
